//- Thanks WesBos!
mixin svg(filename)
  !=icon(filename)

mixin h(htmlElement, module)
  htmlElement(css-module=module)
    if block
      block

mixin img(name, module, alt)
  img(src=`assets/images/${name}` css-module=module alt= alt ? alt : 'An image')
