//- Thanks WesBos!
mixin svg(filename)
  !=icon(filename)

//- https://pugjs.org/language/mixins.html#mixin-attributes
mixin h(htmlElement, module)
  #{htmlElement}(css-module=module)&attributes(attributes)
    if block
      block

mixin img(name, module, alt)
  img(src=`assets/images/${name}` css-module=module alt= alt ? alt : 'An image')
