@import "../1-abstracts/index.scss";

html {
  box-sizing: border-box;
}
*, *::before, *::before {
  box-sizing: inherit;
}

::selection {
  background: $main-color;
  color: $white;
}

body {
  background: $blue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

.is-hidden {
  position: absolute;
  height: 0;
  width: 0;
  visibility: hidden;
}

svg[class^="icon-"] {
  fill: currentColor;
  stroke: none;
  max-width: 100%;
}
