@import "../1-abstracts/index.scss";

.normal {
  appearance: none;
  border: none;
  border-radius: 0;
  background: none;
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: inherit;
  &:focus {
    outline: 1px dotted;
  }

  border-bottom: 2px solid;
  color: $orange;
  font-weight: 900;
}
