extends layouts/layout-primary

block content
  section
    .container
      h1 CSS Modules Example
      +img('mike.jpg', 'components.mike.pic')

      p This is a CSS Modules Example with Gulp and Webpack
      p Also featuring Hot Module Reloading and CSS Injection
      p They work with JS as well 🎩
      +h(button, 'components.buttons.normal') Trigger BG Color
      p Check out the source-code

      a(href='https://github.com/mike3run/css-modules-gulp-example' target='_blank') Github Repo
